<div class="container">
  <h1>Pages#about</h1>
  <p>Find me in app/views/pages/about.html.erb</p>
  <%= link_to "Home", root_path, class:"btn btn-primary" %>
  <%= link_to "New File", newFile_path, class:"btn btn-secondary" %>
</div>

