<div class="container">
  <div class="jumbotron">
    <h1>My Personal Home Page</h1>
    <p>You can read more about me, or check out my blog.</p>
    <%= link_to "Posts", posts_path %>
    <%= link_to "About Me", about_path %>
    <%= link_to "New File", newFile_path %>
  </div>
</div>
